# Carpetas de Flutter y Dart
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.packages

# Archivos de configuración de IDEs
**/.idea/
**/.vscode/
**/*.iml

# Logs y archivos temporales
**/analysis.txt
**/analyze_web.txt
**/final_analysis.txt
**/current_analysis.txt
**/last_check.txt
**/final_cleanup_check.txt

# Sistema operativo
.DS_Store
Thumbs.db
